form(method="post" action="/register")
    table 
        tr
            td Username 
            td 
                input(type="text" name="username" required)
        tr 
            td Fullname 
            td 
                input(type="text" name="fullname" required)
        tr 
            td Password 
            td 
                input(type="password" name="password" required)
        tr 
            td Confirm password 
            td 
                input(type="password" name="confirm-password" required)

        
        tr

            td User type
            td <select id="utype" name="utype">
                <option value="Consumer">Consumer   
                 <option value="Donor">Donor
            </select>
        tr 
            td
            td
                input(type="submit" value="Register")